{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- Profile Section
================================================== --> 
<div class="col-lg-3 col-md-4">
    <div class="profile">
        <div class="profile-name">
            <span class="name">Andrew Bashorum</span> <br/>
            <span class="job">Software Developer</span>
        </div>
        <figure class="profile-image">
            <img src="{% static 'images/AndrewHeadshot.jpg' %}" alt="" />
        </figure> 
        <ul class="profile-information">
            <li><p><span>Name:</span> Andrew Bashorum</p></li>
            <li><p><span>Birthday:</span> 06 June 1999</p></li>
            <li><p><span>Email:</span> andrew.bashorum@gmail.com</p></li>
        </ul>
        <div class="col-md-12">
            <a href="{% url 'download-pdf' %}">Download PDF</a>
            <button class="site-btn icon"> <a href="" download="https://andrewbashorumsitebucket.s3.eu-west-1.amazonaws.com/Curriculum_Vitae_Andrew_Bashorum.pdf">Download CV <i class="fa fa-download" aria-hidden="true"></i> </a> </button>
        </div>
    </div>
</div>

<!-- Page Tab Container Div -->   
<div id="ajax-tab-container" class="col-lg-9 col-md-8 tab-container">
    
<div class="row">
        
    <!-- Page Content
    ================================================== --> 
    <div class="col-md-12">
        <div id="content" class="panel-container">

            <!-- Home Page
            ================================================== -->  
            <div id="home">
                <!-- Text Section -->
                <div class="row">
                    <section class="about-me line col-md-12 padding_30 padbot_45">
                    <div class="section-title"> <span></span><h2>About Me</h2></div>
                    <p class="top_30">I graduated from South East Technical University with a bachelor's degree with Honours in Software Development. I spent my first year in college studying Games Development. This gave me a love of difficult problem-solving and coding but seeing few job opportunities in Game Development I switched courses to software in my second year. I started working with Lanu towards the end of my second year.
                        <br/>
                        <blockquote>Lanu is a London-based prop-tech startup that has ambitions of codifying the planning rules. 
                            This meant giving rapid feedback on the legal and possible extensions a homeowner could recieve.
                        </blockquote>
                        <br/> I worked for Lanu part-time, as an intern, and full-time throughout different periods for a total of about 2+ years.
                        During this time I was mainly responsible for data collection, cleaning, and storage but I also gained knowledge of Amazon web services, Docker, and Postgres Databases. 
                        I also helped to maintain and refactor a PyQGIS internal application and a ruby-based web application.
                    </p>
                    </section>
                </div>
                <!-- Skills Section -->
                <div class="row">
                    <section class="design-skills col-md-6 padding_60 padbot_50">
                        <div class="section-title bottom_45"><span></span><h2>Strengths</h2></div>
   
                        <div class="w3-container">
                            <div class="w3-light-grey w3-round">
                            <div class="w3-container w3-green w3-round" style="width:85%"> Problem Solving</div>
                            </div><br>
                        
                            <div class="w3-light-grey w3-round-large">
                            <div class="w3-container w3-green w3-round-large" style="width:70%"> Passionate </div>
                            </div><br>
                        
                            <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-container w3-green w3-round-xlarge" style="width:75%"> Hard Working</div>
                            </div>
                        </div>
                    </section>
                    <section class="code-skills col-md-6 padding_60">
                        <div class="section-title bottom_45"><span></span><h2>Skills</h2></div>
                        <div class="w3-container">
                            <div class="w3-light-grey w3-round">
                            <div class="w3-container w3-purple w3-round" style="width:90%"> Python Scripting</div>
                            </div><br>
                        
                            <div class="w3-light-grey w3-round-large">
                            <div class="w3-container w3-purple w3-round-large" style="width:40%"> Django </div>
                            </div><br>
                        
                            <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-container w3-purple w3-round-xlarge" style="width:25%"> AWS</div>
                            </div>
                    </section>
                </div>
            </div>
            
            <!-- Resume Page
            ================================================== --> 
            <br>
            <br>
            <div id="resume">
                <!-- Resume Section -->
                <div class="row">
                    <section class="education">
                    <div class="section-title top_30"><span></span><h2>Resume</h2></div>
                        <div class="row">
                            <!-- Working History -->
                            <div class="working-history col-md-6 padding_15 padbot_30">
                                <ul id="cv" class="timeline col-md-12 top_30">
                                    <li><i class="fa fa-suitcase" aria-hidden="true"></i><h2 class="timeline-title">Working History</h2></li>
                                    <!-- a work -->
                                    <li><h3 class="line-title">Junior Software Developer</h3>
                                        <span><b>May 2022 - Jan 23</b>
                                        </span>
                                        <br>
                                        <p class="little-text">Worked with Worked Python, AWS, Docker, Linux to develop aplication trialed with Local goverment </p>
                                    </li>
                                   <!-- a work -->
                                    <li><h3 class="line-title">Intern Software Developer</h3>
                                        <span><b>March-September 2021</b></span>
                                        <p class="little-text">Developed webscrapping scripts making use of Image Analysis and Natural language Processing in Python. 
                                            I worked with the following : Python, Web scrapping, PyQT Qgis application, Regrex, Image processing.</p>
                                    </li>
                                   <!-- a work -->
                                    <li><h3 class="line-title">Till Operator</h3>
                                        <span><b>January-September 2020</b></span>
                                        <p class="little-text"> Developed Skills in dealing with customers.</p>
                                    </li>
                                </ul> 
                            </div>  
                            <!-- Education History -->
                            <div class="education-history col-md-6 padding_15 padbot_30">
                                <ul id="cv" class="timeline col-md-12 top_30">
                                    <li><i class="fa fa-graduation-cap" aria-hidden="true"></i><h2 class="timeline-title">Education History</h2></li>
                                    <!-- a work -->
                                     <li><h3 class="line-title">BSc - South East Technical University, Carlow Ireland</h3>
                                         <span><b>2018 - 2022</b></span>
                                         <p class="little-text">BSc in Software Development.</p>
                                     </li>
                                </ul> 
                            </div>
                        </div>
                    </section>
                </div>
            </div>   
        
                
            <!-- Contact Page
            ================================================== --> 
            <div id="contact">
                <div class="row">
                    <section class="contact-info col-md-6 padding_30 padbot_45">
                        <div class="section-title top_15 bottom_30"><span></span><h2>Contact</h2></div>
                        <ul id = "cv">
                            <li><span>Phone:</span> +353 87 0966848</li>
                            <li><span>E-mail:</span> Andrew.bashorum</li>
                        </ul>
                    </section>

                    <!-- Contact Form -->
                    <section class="contact-form col-md-6 padding_30 padbot_45">
                        <div class="section-title top_15 bottom_30"><span></span><h2>Social Links</h2></div>
                        <ul id = "cv">
                            <li> <a class="in" href="https://www.linkedin.com/in/andrew-bashorum-119470156/"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                            <li> <a class="gi" href="https://github.com/andrewHbashorum"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        </ul>
                    </section> 
                    <!-- Contact Informations -->
                </div>
            </div>
            
        </div><!-- Content - End -->
    </div> <!-- col-md-12 end -->
</div><!-- row end -->

    
</div> <!-- Tab Container - End -->

{% endblock %}
